$background: #2B3E50;
$menuBackground:#4E5D6C;
$menuBackgroundFooter: #849fb7;
$btmBackground:#DF691A;
$btmBackgroundHover:#9a4912;
$textColor: #EBEBEB;
$titleModal:#5C6978;
$modalPadding:1px solid rgba(0, 0, 0, 0.2);